body{
    background-color:#ebebeb;
}
.header{

}
.header-main{
    padding: 40px 0 20px 0;
    background-image: url(18.png);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: cover;
}
.header-main h1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
}
.header-main .docs{
    display: flex;
    justify-content: center;
}
.btn-doc{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(240,56,49);
    padding: 7px 12px;
    margin: 2px;
    font-size: 14px;
    border-radius: 2px;
}
.btn-doc:hover{
    background-color: black;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}
.nav{
    display: flex;
    justify-content: center;
    background: #fff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 35px;
    border-bottom: 2px solid #ebebeb;
}
.nav .link{
    text-decoration: none;
    color: #505050;
    margin: 20px 30px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav .link:hover{
    color: rgb(240,56,49);
    transition: all .2s ease-in-out;
}
.main{
    
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin:0 auto;
    width: 66.66666667%;
}
.content{
    height: 100%;
    float: left;
    width: 66.666667%;
}
.post{
    padding: 35px;
    background: #fff;
    margin-bottom: 35px;
}
.post .post-header{
    text-align: center;
    color: #505050;
}
.post-header .post-title{
    margin: 0;
    font-size: 28px;
    line-height: 1.2em;
    font-weight: 400;
    color: #303030;
}
.post-header .post-meta{
    margin-top: 14px;
    font-size: 14px;
    color: #959595;
}
.post-meta .author{
    margin: 0 7px;
    white-space: nowrap;
}
.post-meta .author a{
    color: #f4645f;
    text-decoration:none;
}
.featured-media{
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
}
.featured-media a img{
    width: 100%;
}
.post-content{
    font: 400 18px Georgia,Xin Gothic,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif;
    color: #444443;
    margin:30px 0;
}
.post-content p a{
    text-decoration: none;
    color: #f4645f;
}
.btn-default {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #f4645f;
    border: 1px solid #f4645f;
    padding: 7px 14px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
}
.btn-default:hover{
    background-color: black;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}
.post-footer{
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}
.aside{
    height: 500px;
    float: left;
    width: 30%;
}
.aside .widget{
    background-color: white;
    margin-bottom: 35px;
    padding: 21px 30px;
    
}
.widget .title{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #303030;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 7px;
    margin-bottom: 21px;
    position: relative;
}
.title::after{
    content: "";
    width: 90px;
    height: 1px;
    background: #f4645f;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.widget .faq-link{
    text-decoration: none;
    color: #f4645f;
}

.widget .a-doc{
    text-decoration: none;
    display: block;
    color: white;
    background-color: #f4645f;
    border: 1px solid #f4645f;
    text-align: center;
    white-space: nowrap;
    margin: 5px 0;
    padding: 7px 14px;     
    border-radius: 2px;

    font-size: 14px;
    font-weight: 400;
}
.aside .widget .a-doc:hover{
    background-color: black;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}
.footer{
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
}
.footer .container .col-sm{
    flex: 1;
}
.col-sm .widget{
    padding: 0 30px;
    margin-bottom: 35px;
}
.col-sm .widget .title{
    color: #fff;
    border-bottom: 1px solid #303030;
}

.widget .foot-wcontent .single-post{
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px dashed #303030;
}
.foot-wcontent .single-post .post-title{
    color: #959595;
    font-size: 14px;
    text-decoration: none;
}
.foot-wcontent .single-post .post-title:hover{
    color: #f4645f;
    transition: all .2s ease;
    
}
.foot-wcontent .single-post .date{
    color: #505050;
    font-size: 14px;
}
.tag-link{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #303030;
    padding: 2px 7px;
    color: #959595;
    margin: 0 7px 7px 0;
}
.tag-link:hover{
    color: #fff;
    background: #f4645f;
}
.copyright{
    background: #111;
    font-size: 13px;
    color: #555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
    text-align: center;
}
.col-sm-end{
    width: 100%;
}
.col-sm-end a{
    text-decoration: none;
    color: #555;
}
.col-sm-end a:hover{
    text-decoration: underline;
}